  {{> header }}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Este es Contacto.</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non nesciunt aut quo voluptate dolore, minima animi obcaecati. Repellat doloremque, unde tenetur ex recusandae nulla possimus dolorum maiores fuga reiciendis a.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
  {{> footer }}